.container_form {
    background-color: #2F2420;
    color: aliceblue;
    width: 60%;
    border-radius: 20px;
    padding: 10px 50px;
    margin-top: 1px;
    margin-bottom: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.9);
}

.container_form:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.9);
}

.pre-oreder-image {
    object-fit: cover;
    top: 0;
    left: 0;
    width: 40%;
}

.btn_submit_form {
    background-color: #2F2420;
    border-color: #2F2420;
    margin-bottom: 5px;
}

.btn_submit_form:hover {
    color: #271B17;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}